body {font-family: Arial, Helvetica, sans-serif; background-color: indigo;
}

h4,h5{
    font-family: 'Roboto', sans-serif;
        text-shadow: 1px #0000009d;
        color: #000000af;
        margin: 2px 0;
    
    }


input[type=text], input[type=password], input[type=number], input[type=email]
    {
        width: 45%;
        padding: 2px 2px;
        margin: 2px 0;
        border: 2px solid rgba(0, 0, 0, 0.596);
        
    }

#opciondoc
{
    width: 45%;
    padding: 2px 2px;
    margin: 2px 0;
    border: 2px solid rgba(0, 0, 0, 0.596);
    
}

button
{
    padding: 2px 2px;;
    margin: 10px;
    width: 20%;
}

label{
    padding: 1px 1px;;
    margin: 1px;
}

button:hover
{
    opacity: 0.8;
}

.imgcontainer
{
    text-align: center;
    margin: 100px 0 12px 0;
    position: center;
}

img.avatar
{
    width: 15%;
    border-radius: 40%;
}

.imgLogo{
    width: 15%;
    border-radius: 20%;

}

.modal
{
    display: block; 
    position: absolute; 
    overflow: absolute; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content
{
    background-color: #fefefe;
    margin: auto; 
    border: 10px solid rgba(0, 0, 0, 0);
    width: 50%;
}


.animate
{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom
{
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom
{
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 100px)
{
    span.psw
    {
     display: block;
     float: absolute;
 }

.content {
	width:600px;
	height:400px;
	line-height:400px;
	margin:0px auto;
	text-align:center;
	background-color:#CCCCCC;
}
 
.content img {
	vertical-align:middle;
}