
        body {
            font-family: Arial, Helvetica, sans-serif;
             background-image: url("../img/fondo.jpg");
        }

       .imgcontainer
        {
            text-align: center;
            margin: 15px 0 12px 0;
            position: relative;
        }

        img.avatar
        {
            width: 20%;
            border-radius: 30%;
        }


        .modal
        {
            display: block; 
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%;
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content
        {
            background-color: #fefefe;
            margin: 3% auto 10% auto; 
            border: 2px solid #888;
            width: 70%;
        }

        .animate
        {
            -webkit-animation: animatezoom 0.5s;
            animation: animatezoom 0.5s
        }

        @-webkit-keyframes animatezoom
        {
            from {-webkit-transform: scale(0)} 
            to {-webkit-transform: scale(1)}
        }
        
        @keyframes animatezoom
        {
            from {transform: scale(0)} 
            to {transform: scale(1)}
        }

        @media screen and (max-width: 100px)
        {
            span.psw
            {
             display: block;
             float: none;
         }
