
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("../img/fondo.jpg");
}


#colorcito1{ background-color:#F9F9F9;
	margin-top: 2%;
	height: auto;
	width: auto;
}


h3{

	text-align: center;
	text-shadow: 1px 2px 2px #2E1070;
	color: #3C0DA8;
}

h4{

	text-shadow: 1px 2px 2px #1F2756;
	color: #1F2756;
}

h5{
	font-family: 'PT Sans', sans-serif;
	}