        
        input[type=submit]
        {   
            width: 20%;
            background-color: #4CAF50;
            color: white;
            padding: 7px 7px;
            margin: 7px 0;
            display: inline-block;
            border: 2px solid #000;
            box-sizing: border-box;
            text-align: center;
        }
