
        body {
            font-family: Arial, Helvetica, sans-serif;
             background-image: url("../img/fondo.jpg");
        }

input[type=number], input[type=email], input[type=text], input[type=password]
{
             width: 28%;
             padding: 12px 20px;
             margin: 8px 0;
             display: inline-block;
             border: 1px solid #ccc;
             box-sizing: border-box;
             text-emphasis: center;

select
{
    width: 28%;
    padding: 10px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #000;
    box-sizing: border-box;
    text-align: center;
}


img.imgLogo
{
    width: 15%;
    border-radius: 7%;
}

