body {font-family: Arial, Helvetica, sans-serif; background-color: indigo;
}

h4,h5{
    font-family: 'Roboto', sans-serif;
        text-shadow: 1px #0000009d;
        color: #000000af;
        margin: 2px 0;
    
    }

input[type=text], input[type=password], input[type=number], input[type=email]
    {
        width: 40%;
        padding: 2px 2px;
        margin: 2px 0;
        border: 2px solid rgba(0, 0, 0, 0.596);
        
    }

button
{
    padding: 2px 2px;;
    margin: 10px;
    width: 20%;
}

label{
    padding: 1px 1px;;
    margin: 1px;
}

.modal-content
{
    background-color: #ffffffee;
    position: center;
    display: center;
    align-items: center;
    border: 2px solid ;
    }

.imgcontainer
{
    text-align: center;
    margin: 5%;
    top: center;
    position: center;
    height: 35%;
}

img.avatar
{
    width: 35%;
    border-radius: 40%;
}


.animate
{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom
{
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom
{
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 100px)
{
    span.psw
    {
     display: block;
     float: absolute;
 }
}