
* {
	padding: 0;
	margin: 0;
}

body {font-family: Arial, Helvetica, sans-serif; background-color:  #251d53; 
}

h1{
	font-family: 'Montagu Slab', serif;
	font-family: 'Yantramanav', sans-serif;
	text-align: center;
	text-shadow: 20% #000000;
	color: #edeaf3;

}
h3{
	font-family: 'Montagu Slab', serif;
	font-family: 'Yantramanav', sans-serif;
	text-align: center;
	text-shadow: 1px #2E1070;
	color: #3C0DA8;

}

h4{
	font-family: 'Montagu Slab', serif;
	font-family: 'Yantramanav', sans-serif;

}

h5{
	font-family: 'Montagu Slab', serif;
	font-family: 'Yantramanav', sans-serif;
	font-size: 25px;
	text-align: center;
	margin: 5px;
	color: #edeaf3;
	}

	input[type=hidden], input[type=password], input[type=submit], input[type=text], input[type=email]
    {
        width: 45%;
        padding: 5px 5px;
        margin: 2px 0;
		display: inline-block;
        
	}

	label{
        width: 45%;
        padding: 5px 5px;
        margin: 2px 0;
		display: inline-block;
		
	}

	#opciondoc{
    width: 45%;
    padding: 5px 5px;
    margin: 2px 0;
	border: 2px solid rgba(0, 0, 0, 0.596);
	display: inline-block;
}

#content { 
	overflow:auto; 
	background:#251d53; 
	height: 80%;
  } 

   
   .card {
	border: 30%;
  }

  #center { 
	width: 60%; 
	margin:20%; 
	margin-top: 3%;
	background: white; 
	content: center;
	text-align: center;
	float: center;

  } 

  .card { 
	width: 50%;  
	margin-left: 25%;
	background-color: rgb(160, 201, 255);
	border-color: black ;
	
  } 

 