
* {
	padding: 0;
	margin: 0;
}

body {font-family: Arial, Helvetica, sans-serif; background-color:  #251d53; 
}


h3{
	font-family: 'Montagu Slab', serif;
font-family: 'Yantramanav', sans-serif;
	text-align: center;
	text-shadow: 1px #2E1070;
	color: #3C0DA8;

}

h4{
	font-family: 'Assistant', sans-serif;
	text-align: center;
	text-shadow: 1px #2E1070;
	color: #3C0DA8;

}

h5{
	font-family: 'Montagu Slab', serif;
	text-align: center;
	}

	input[type=hidden], input[type=password], input[type=submit]
    {
        width: 45%;
        padding: 5px 5px;
        margin: 2px 0;
		display: inline-block;
        
	}
	label{
		padding: 1px 1px;;
		margin: 1px;
		display: inline-block;
		
	}

	#opciondoc{
    width: 45%;
    padding: 5px 5px;
    margin: 2px 0;
	border: 2px solid rgba(0, 0, 0, 0.596);
	display: inline-block;
}

#content { 
	overflow:auto; 
	background:#251d53; 
	height: 100%;
  } 

  
  #left, #right { 
	width: 47%; 
	margin:20px; 
	margin-top: 10%;
	background: white; 
	content: center;
	text-align: center;
  } 
  
  #left  { float:left;  }
  #right { float:right; } 

  
  .card {
	border: 20%;
  }

  #center { 
	width: 90%; 
	margin:5%; 
	margin-top: 5%;
	background: #251d53; 
	content: center;
	text-align: left;
	float: center;

  } 
  .card { 
	width: 80%;  
	margin-left: 10%;
	background-color: rgb(234, 241, 255);
	border-color: black ;
	
  } 