
* {
	padding: 0;
	margin: 0;
}

body {font-family: Arial, Helvetica, sans-serif; background-color:  #251d53; 
}


h3{
	font-family: 'Montagu Slab', serif;
font-family: 'Yantramanav', sans-serif;
	text-align: center;
	text-shadow: 1px #2E1070;
	color: #3C0DA8;

}

h4{
	font-family: 'Assistant', sans-serif;
	text-align: center;
	text-shadow: 1px #2E1070;
	color: #3C0DA8;

}

h5{
	font-family: 'Montagu Slab', serif;
	text-align: center;
	}

	input[type=hidden], input[type=password], input[type=submit]
    {
        width: 45%;
        padding: 5px 5px;
        margin: 2px 0;
		display: inline-block;
        
	}
	label{
		padding: 1px 1px;;
		margin: 1px;
		display: inline-block;
		
	}

	#opciondoc{
    width: 45%;
    padding: 5px 5px;
    margin: 2px 0;
	border: 2px solid rgba(0, 0, 0, 0.596);
	display: inline-block;
}

#content { 
	overflow:auto; 
	background:#251d53; 
	height: 80%;
  } 

   
   .card {
	border: 30%;
  }

  #center { 
	width: 50%; 
	margin:25%; 
	margin-top: 10%;
	background: white; 
	content: center;
	text-align: center;
	float: center;

  } 

  .card { 
	width: 40%;  
	margin-left: 30%;
	background-color: rgb(160, 201, 255);
	border-color: black ;
	
  } 
