body {
    margin: 0;
    padding: 0;
    font-family: 'Prata', serif;
    text-align: center;
}
button{
    text-align: center;
    color: white;
    background-color: rgba(19, 22, 221, 0.699);
}
h2{
    color: rgba(19, 22, 221, 0.699);
    font-family: Impact;
  }

  input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
  }
  
  input[type="submit"] {
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #00b8eb;
  }

  header {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-family: Arial Black;
    background: #59d8ff;
  }
  header a {
    text-decoration: none;
    color: #333;
  }

 